# Copyright 2024 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: "Wave GPU CI (rdna4)"

on:
  # manual
  workflow_dispatch: {}
  pull_request:
    types: [opened, synchronize, ready_for_review, converted_to_draft]
  push:
    branches:
      - main

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: "${{ matrix.os }} :: ${{ matrix.version }} :: Unit Tests and Type Checking"
    strategy:
      fail-fast: false
      matrix:
        version: ["3.11"]
        os: [Shark49]
    runs-on: [self-hosted, Linux, X64, rdna4, shark49]
    timeout-minutes: 60
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false

    container:
      image: 'ghcr.io/rocm/no_rocm_image_ubuntu24_04@sha256:405945a40deaff9db90b9839c0f41d4cba4a383c1a7459b28627047bf6302a26'
      options: >-
        --ipc host
        --group-add 44
        --group-add 992
        --device /dev/kfd
        --device /dev/dri
        -v "/opt/rocm":"/opt/rocm":ro
        -e "ROCM_PATH=/opt/rocm"
        -v "/opt/amdgpu":"/opt/amdgpu":ro
        -e "LD_LIBRARY_PATH=/opt/rocm/lib:/opt/rocm/lib64:/opt/amdgpu/lib/x86_64-linux-gnu"
        -e "PATH=/opt/rocm/bin:/opt/rocm/hip/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
        --security-opt seccomp=unconfined

    defaults:
      run:
        shell: bash

    env:
      VENV_DIR: ${{ github.workspace }}/.wave-venv
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: "Setting up Python"
        id: setup_python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{matrix.version}}
      - name: Create Python venv
        run: |
           python3 -m venv ${VENV_DIR}
           source ${VENV_DIR}/bin/activate
           echo VIRTUAL_ENV=$VIRTUAL_ENV >> "$GITHUB_ENV"
           echo "$VENV_DIR/bin" >> "$GITHUB_PATH"

      - name: "Setting up Rust"
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable

      - name: Install pip deps
        if: ${{ !cancelled() }}
        run: |
          # Install User libraries
          sudo apt-get update
          sudo apt install -y libnuma1 numactl gfortran build-essential binutils dwarfdump

          # Install torch+rocm6.4
          python -m pip install --no-compile --upgrade pip
          pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm6.4

          # Install wave deps
          pip install --no-cache-dir -r requirements-iree-pinned.txt --upgrade
          pip install -r requirements.txt -e .

      - name: Run unit tests
        if: ${{ !cancelled() }}
        run: |
          pytest -n 4 --capture=tee-sys -vv ./tests/kernel/wave/

      - name: Test TKW runtime related stack on amdgpu
        if: ${{ !cancelled() }}
        run: |
          export WAVE_CACHE_DIR=$PWD/.wave
          rm -rf ./.wave
          nproc
          WAVE_CACHE_ON=1 pytest --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/wave/runtime

      - name: Run e2e tests on AMD GPU
        if: ${{ (github.event_name == 'pull_request') && !cancelled() }}
        run: |
          WAVE_CACHE_ON=0 pytest -n 1 --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/wave/

      - name: Run expensive e2e tests on AMD GPU
        if: ${{ (github.event_name != 'pull_request') && !cancelled() }}
        run: |
          WAVE_CACHE_ON=0 pytest -n 1 --timeout=600 --capture=tee-sys -vv --run-e2e --run-expensive-tests --durations=100 ./tests/kernel/wave/

      - name: Run LIT tests
        if: ${{ !cancelled() }}
        run: |
          WAVE_TEST_DWARFDUMP=1 lit lit_tests/ -v
