# Copyright 2025 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: happy - CI

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  happy-set-env:
    runs-on: ['self-hosted', 'Linux', 'X64', 'rdna4', 'shark41', 'gfx1250']
    env:
      ROOT_VENV: /home/user/.venvs/happy-test/lib/python3.12/site-packages
      USER_VENV: /workspace/.venvs/wave-env/

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: setup python
        id: setup_python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      # load happy image from local tar
      - name: Load image
        run: |
          RUNNER_BASE="$(dirname $RUNNER_WORKSPACE)"
          docker load -i "$RUNNER_BASE/../docker-images/ci-gfx1250.tar"

      # 0. ensure old container is gone
      - name: Clean up remaining container before start
        run: |
          if docker ps -a --format '{{.Names}}' | grep -q '^happy$'; then
            echo "Found existing container happy, removing..."
            docker rm -f happy || true
          else
            echo "No existing container"
          fi

      # 1. long-live happiness
      - name: Start happy container from image
        run: |
          HOST_UID=$(id -u)
          HOST_GID=$(id -g)
          WORK_DIR=/workspace
          docker run -d \
            --name happy \
            --restart unless-stopped \
            --user "$HOST_UID:$HOST_GID" \
            -v "${PWD}:${WORK_DIR}" \
            --network=host \
            --ipc=host \
            --device=/dev/kfd \
            --device=/dev/dri \
            --group-add video \
            --cap-add=SYS_PTRACE \
            -p8000:8000 -p18000:18000 \
            --security-opt seccomp=unconfined \
            -w $WORK_DIR \
            -e HOST_UID=$HOST_UID \
            -e HOST_GID=$HOST_GID \
            -e RUSTUP_HOME=$WORK_DIR/.rustup \
            -e CARGO_HOME=$WORK_DIR/.cargo \
            -e USER=$(whoami) \
            -e HOME=$WORK_DIR \
            --entrypoint sleep \
            ci-rocplay-gfx1250:latest \
            infinity

      # 2.1. apt-get install for wave-env
      - name: Setup dwarfdump for lit test
        run: |
          docker exec \
            -u root \
            happy bash -lc '
              set -euxo pipefail

              apt-get update
              apt-get install -y dwarfdump
            '

      # 2.2. wave-env
      - name: Setup venv, Rust and Python deps
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            happy bash -lc '
              set -euxo pipefail

              # make rust dir
              mkdir -p $CARGO_HOME $RUSTUP_HOME
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
              export PATH="$CARGO_HOME/bin:$PATH"

              echo $HSA_MODEL_NUM_THREADS
              source /usr/local/bin/env.sh >/dev/null 2>&1

              # user owned venv
              python3 -m venv ${USER_VENV}
              source "${USER_VENV}/bin/activate"

              echo "Install pip deps"
              python3 -m pip install --upgrade pip

              # Install wave deps
              pip install --no-cache-dir -r requirements-iree-pinned.txt --upgrade
              pip install -r requirements.txt .

            '

      # 3. check GPU arch
      - name: Check Arch (gfx1250)
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            -e ROOT_VENV="${ROOT_VENV}" \
            happy bash -lc '
              set -euo pipefail
              source /usr/local/bin/env.sh >/dev/null 2>&1
              source "${USER_VENV}/bin/activate"
              export PYTHONPATH=${ROOT_VENV}

              echo "Check Arch after python installation"
              "python" - << "PY"
          import torch, sys

          props = torch.cuda.get_device_properties(0)
          print(props)

          if "gfx1250" not in str(props):
              print("Expecting gfx1250, got:", props, file=sys.stderr)
              sys.exit(1)
          PY
            '

      # 4. unit test
      - name: Run unit tests
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            -e ROOT_VENV="${ROOT_VENV}" \
            happy bash -lc '
              set -euxo pipefail
              source /usr/local/bin/env.sh >/dev/null 2>&1
              export PATH="$CARGO_HOME/bin:$PATH"

              # python venv
              source "${USER_VENV}/bin/activate"
              export PYTHONPATH=${ROOT_VENV}

              echo "Run unit tests"
              WAVE_CACHE_ON=0 python3 -m pytest -n 4 --capture=tee-sys -vv ./tests/unittests/
              WAVE_CACHE_ON=0 python3 -m pytest -n 4 --capture=tee-sys -vv ./tests/mlir_wave_iface
            '

      # 5. TKW runtime related e2e
      - name: Run TKW runtime e2e tests
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            -e ROOT_VENV="${ROOT_VENV}" \
            happy bash -lc '
              set -euxo pipefail
              source /usr/local/bin/env.sh >/dev/null 2>&1
              export PATH="$CARGO_HOME/bin:$PATH"

              source "${USER_VENV}/bin/activate"
              export PYTHONPATH=${ROOT_VENV}

              echo "Test TKW runtime related stack on amdgpu"
              export WAVE_CACHE_DIR=$PWD/.wave
              rm -rf $WAVE_CACHE_DIR
              WAVE_CACHE_ON=1 pytest --timeout=300 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/runtime
              '

      # 6. gemm e2e
      - name: Run gemm e2e tests
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            -e ROOT_VENV="${ROOT_VENV}" \
            happy bash -lc '
              set -euxo pipefail
              source /usr/local/bin/env.sh >/dev/null 2>&1
              export PATH="$CARGO_HOME/bin:$PATH"

              source "${USER_VENV}/bin/activate"
              export PYTHONPATH=${ROOT_VENV}

              echo $HSA_MODEL_NUM_THREADS
              printenv HSA_MODEL_NUM_THREADS || echo "not set"

              export WAVE_CACHE_DIR=$PWD/.wave
              rm -rf $WAVE_CACHE_DIR
              WAVE_CACHE_ON=0 pytest -n 1 --timeout=600 --capture=tee-sys -vv --run-e2e --durations=100 ./tests/kernel/wave_gemm_test.py
            '

      # 7. lit tests
      - name: Run lit tests
        run: |
          docker exec \
            -e USER_VENV="${USER_VENV}" \
            -e ROOT_VENV="${ROOT_VENV}" \
            happy bash -lc '
              set -euxo pipefail
              source /usr/local/bin/env.sh >/dev/null 2>&1
              export PATH="$CARGO_HOME/bin:$PATH"

              source "${USER_VENV}/bin/activate"
              export PYTHONPATH=${ROOT_VENV}

              echo "Lit tests"
              WAVE_TEST_DWARFDUMP=1 lit lit_tests/ -v
            '

      # 8. final cleanup container
      - name: Clean up happy container - 1
        if: always()
        run: |
          docker stop happy && docker rm -f happy || true
